body {
	background-color: black !important;
}
#idInput {
	color: #000;
}
#footer {
	font-size: 16px;
	margin: .5em 0;
	padding: .7em 1em;
}
.title{
	color: #999;
	background-color: #191919;
	overflow: hidden;
	margin: 0px;
}
.clamp{
	height: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical; 
}
.item{
	border: 1px solid #ccc;
	width: 22%;
	height: 215px;
	display: inline-block;
}
.itemImage{
	max-height:100%;
	max-width:100%;
}